<div class="w-full flex justify-center">
    <mat-card>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>Enter Username</mat-label>
            <input #username matInput value="">
        </mat-form-field>
        <div class="mx-auto" 
        >
            <button
                [disabled]=!username.value
                mat-raised-button
                color="primary"
                (click)="logIn(username.value)"
                i18n
            >
                Log In
            </button>
        </div>
    </mat-card>
</div>